In [1]:
# splits the transformed label csv into train and test csvs
# those train and test csvs will be transformed to TFrecord files later on

import numpy as np
import pandas as pd
np.random.seed(1)

In [2]:
full_labels = pd.read_csv('/Users/nijeri/Documents/HSLU/4 Semester/Master Thesis/Pictures/label csv/bee_labels.csv')

In [3]:
full_labels.head()

       filename  width  height class  xmin  ymin  xmax  ymax
0  bee42357.jpg     60      60   bee    24    33    59    60
1  bee33586.jpg     60      60   bee    17    21    60    51
2  bee44929.jpg     60      60   bee     1    26    32    59
3  bee52839.jpg     60      60   bee     4    37    42    60
4  bee64435.jpg     60      60   bee    17     1    59    38

In [4]:
grouped = full_labels.groupby('filename')

In [19]:
grouped.apply(lambda x: len(x)).value_counts()

1    1401
2      95
3       3
dtype: int64

In [20]:
gb = full_labels.groupby('filename')

In [21]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [8]:
len(grouped_list)

1499

In [29]:
train_index = np.random.choice(len(grouped_list), size=1199, replace=False)
test_index = np.setdiff1d(list(range(1499)), train_index)

In [30]:
len(train_index), len(test_index)

(1199, 300)

In [31]:
# take respective files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [32]:
len(train), len(test)

(1277, 323)

In [33]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)